body {
  margin: 0;
  padding: 0;
  /* background-image: url("https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5d5a4198caa071a4bf104c710249cec&auto=format&fit=crop&w=1267&q=80"); */
  background-color: rgb(29, 140, 153);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* setting the login/logout navlinks text color */
.nav-item a {
  color: rgb(255, 255, 255);
}

/* setting the background and text colors for the button group */
.btn-group-vertical > button {
  background-color: rgb(230, 233, 237);
  color: rgb(0, 0, 0);
}

/* setting the text color for the account form */
/* .col-3 :last-child h5 {
  color: rgb(255, 255, 255);
} */

/* setting the top margin for the */
.col-3 .row:nth-child(2) {
  margin-top: 2em;
}

/* #account-form button {
  background-color: rgb(230, 233, 237);
  color: rgb(0, 0, 0);
} */

.rc-slider-track {
  background-color: rgb(0, 0, 0);
}

.home-page-title {
  font-size: 20em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.home-page-tagline {
  font-size: 3em;
  margin-left: 5em;
  color: rgb(255, 255, 255);
}

.budget-card-list {
  margin-top: 3em;
}
