body {
  margin: 0;
  padding: 0;
  /* background-image: url("https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f5d5a4198caa071a4bf104c710249cec&auto=format&fit=crop&w=1267&q=80"); */
  background-color: rgb(102, 153, 255);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item a {
  color: rgb(255, 255, 255);
}
